@media (min-width: 992px) {
    .col-lg-25 {
        flex: 0 0 auto;
        width: 20% !important;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1240px !important;
    }
}

@media screen and (max-width: 992px) {
    .slider-detail-text .addbasket{
        padding: 10px;
        font-size: 16px;
    }
    .slider-detail-text .buynow{
        padding: 10px;
        font-size: 16px;
    }
    .menu-page{
        padding: 0;
    }
    .detail-page{
        padding: 0;
    }
    .slider-detail-text .endirim .faiz{
        font-size: 18px;
        padding: 10px 0;
    }
    .slider-detail-text .endirim .time{
        padding: 10px 0;
    }
    .profil-page .product{
        flex-direction: column;
    }
    .profil-page .product .status{
        text-align: start;
    }
    .logo{
        height: 25px;
    }
     .choose-submenu2 {
        top: 120px !important;
        left: 50%;
        transform: translate(-80%, 0%);
    }
    .basket-page .product{
        flex-direction: column;
    }
    .slider-detail-text .size .size-item{
        padding: 10px;
    }
    
    .product-detail .information {
        font-size: 12px;
    }

    .product-img img {
        height: 150px;
    }

    .catalog .best {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .catalog .best_item {
        flex-direction: column;
    }

    .catalog .best_item .text {
        padding-left: 0 !important;
    }

    #section1 .regular .slick-dots .slick-active button:before {
        font-size: 12px;
        top: -2px;
    }

    .top_menu .country {
        width: 130px !important;
    }

    .footer .footer_menu a {
        font-size: 12px;
    }

    .top_menu .all {
        justify-content: space-around;
        padding: 10px 0;
        flex-direction: column;
        align-items: center;
    }

    main {
        padding-top: 1px;
    }

    #section1 .regular {
        margin-bottom: 20px !important;
    }

    .side {
        display: block;
        margin-left: 0px;
    }
    .side img{
        height: 30px;
    }
    .side .text {
        margin-left: 0;
        margin-top: 15px;
        font-size: 12px;
    }

    #section3 .main_slider_img .img_main {
        height: 250px;
        object-fit: cover;
    }

    .one,
    .two {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .footer {
        flex-direction: column;
    }

    .two .row {
        justify-content: flex-start !important;
    }

    .footer_bottom {
        flex-direction: column;
    }

    .menu {
        margin-top: 20px;
    }

    .footer_bottom .menu a {
        font-size: 12px;


        margin: 0 15px 0 0;
        position: relative;
    }

    #section4 .seller {
        margin-bottom: 10px;
    }
}
