/* Header Styles **********************************************************/


.fixed {
    /* overflow: hidden; */
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.banner {
    max-height: 120px;
    text-align: center;
    background-color: #000;
}

.banner img {
    object-fit: cover;
}

header {
    border-bottom: 4px solid #ff8a01;
    position: relative;
    /* box-shadow: 0px 4px #95959530; */
}

.top_menu {
    padding: 5px 0;
    background-color: #f0f1f2;
}

.top_menu .phone,
.top_menu .phone a {
    font-size: 13px;
    margin-right: 25px;
}
.fix-mob-menu button{
    border: none;
}
.mob-link span{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    color: #212529;
    margin-top: 10px;
}
.top_menu .help,
.top_menu .valyuta,
.top_menu .country {
    border: none;
    font-size: 12px;
    background-color: transparent;
    color: #838383;
}

.top_menu .country {
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    width: 130px !important;
    padding-left: 30px;
    text-align: end;
}

.bottom_menu {
    padding: 10px 0 15px 0;
}

.bottom_menu a {
    font-size: 13px;
    margin-left: 10px;
}

.bottom_menu a:hover {
    font-size: 13px;
    color: #ff8a01;
    margin-left: 10px;
}

.border-hover {
    border: 1px solid #fff;
    border-radius: 5px;
    justify-content: flex-end;
}

.basket {
    background-image: url(./image/basket.png);
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    position: relative;
}

.basket span {
    position: absolute;
    top: -2px;
    right: -7px;
    background: #ff8a01;
    font-size: 13px;
    color: #ffffff;

    border-radius: 50%;
    padding: 3px 5px;
}

.basket_text {
    font-size: 13px;
    margin-left: 10px;

}

.basket_text span {
    opacity: 0.7;
}

.srch {
    border: 2px solid #ff8a01 !important;
    border-radius: 10px;

}

.srch_span {
    background-color: #ff8a01;
    border: none;
    color: #ffff;
    border-radius: 10px;
}
.header_login .choose-submenu2{
    top: 90px;
}
/* End Header Style ********************************************************/

/* Index Html  Style ********************************************************/
main {
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 60px;
}

#section1 {
    margin-top: 25px;
}

#section1 .catalog {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 10px;
}

.catalog .nav-item {
    display: block;
    position: relative;
}

.catalog nav ul li:hover>ul {
    display: inherit;
}

.catalog nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.catalog nav ul li {
    display: inline-block;
}

.catalog nav ul ul li a {
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 40px;
}


/* Hide Dropdowns by Default */
.catalog nav ul ul {
    display: none;
    position: absolute;
    background-color: #f0f1f2;
    top: 40px;
    /* the height of the main nav */
    left: 10px;
    z-index: 200;

}

.catalog nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

/* Second, Third and more Tiers	*/
.catalog nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}


/* Change this in order to change the Dropdown symbol */
.catalog li .nav-link :after {
    position: absolute;
    background-image: url(./image/left.png);
    right: 15px;
    font-size: 17px;
    color: #8d9297;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    background-size: 14px;
}

.catalog li>a:only-child:after {
    content: '';
}

#section1 .catalog .catalog_p {
    background-color: #f0f1f2;
    padding: 10px;
    font-size: 15px;

}

#section1 .catalog .nav {
    margin-top: 30px;
    font-size: 12px;


}

#section1 .catalog .nav-link {
    display: flex;
    align-items: center;
    color: #000;
}

#section1 .catalog .dropdown-toggle {
    position: relative;
}

#section1 .catalog .dropdown-toggle::after {
    display: inline-block;
    margin-left: 9;
    vertical-align: 0.255em;
    position: absolute;
    right: 2px;
}

#section1 .catalog .nav a {
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

#section1 .catalog .catalog_p img {
    margin-right: 15px;
}

#section1 .regular .main_slider_img img {
    border-bottom: 5px solid #ff8a01;
}

.slider-nav  .next {
    font-size: 15px;
    line-height: 0;
    color: #000;
    right: -20px;
    position: absolute;
    top: 30%;
    display: block;
    border-radius: 5px;
    height: 40px;
    z-index: 99;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
}

.slider-nav  .prev {
    font-size: 15px;
    line-height: 0;
    left: -20px;
    color: #000;
    position: absolute;
    top: 30%;
    display: block;
    border-radius: 5px;
    height: 40px;
    z-index: 99;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}
#section1 .regular .next {
    font-size: 0;
    line-height: 0;
    right: 10px;
    position: absolute;
    top: 50%;
    display: block;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    z-index: 99;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-color: transparent;
}

#section1 .regular .prev {
    font-size: 0;
    line-height: 0;
    left: 10px;
    position: absolute;
    top: 50%;
    display: block;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    z-index: 99;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-color: transparent;
}

#section1 .regular {
    background-color: #fff;
    padding: 15px 12px 30px 12px;
    border-radius: 10px;
}

#section1 .regular .next i {
    color: #fff;
    font-size: 51px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

#section1 .regular .slick-dots {
    bottom: 0;
}

#section1 .slick-dotted.slick-slider {
    margin: 0;
}

#section1 .regular .slick-dots li {

    margin: 0;
}

#section1 .regular .slick-dots li button:before {
    font-family: 'slick';
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #dee2e6;
}

#section1 .regular .slick-dots .slick-active button:before {
    font-family: 'slick';
    font-size: 25px;
    line-height: 20px;
    position: absolute;
    top: -4px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '○';
    text-align: center;
    opacity: 1;
    color: #ff8a01;
}

#section1 .best_item .text h4 {
    font-size: 14px;

    margin-bottom: 5px;
    font-weight: 500;

}

#section1 .best_item {
    justify-content: center;
}

#section1 .best_item .text p {
    font-size: 12px;
    opacity: 0.7;

}

#section2 {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.side .text {
    margin-left: 10px;
    font-size: 17px;


}

#section3 {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

#section3 .main_slider_img {
    border-radius: 5px;
}


#section3 .main_slider_img .img_main {
    height: 150px;
    object-fit: cover;
}

#section3 .text {
    align-items: center;
    margin-bottom: 15px;
}

#section3 .text b {
    margin-left: 10px;
    font-size: 16px;
}

#section3 .text .img {
    background-color: #ff8a01;
    width: auto;
    border-radius: 50%;
    padding: 8px 5px;
}

#section3 .slider-content {
    margin-top: 10px;
}

#section3 .slider-content .img {
    background-color: #ff8a01;
    padding: 2px;
    font-size: 12px;


    font-weight: 600;
}

#section3 .slider-content .img img {
    width: 13px;
}

#section3 .main_slider_img .discount {
    font-size: 15px;

    font-weight: bold;

    font-style: italic;
    margin-top: 10px;
}

#section3 .slider-content .price {
    font-size: 12px;


    opacity: 0.5;
    margin-left: 10px;
    text-decoration: line-through;
}

#section3 .regular .prev {
    font-size: 0;
    line-height: 0;
    left: -5px;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 50px;
    z-index: 99;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #c7c7c7d7;
}

#section3 .regular .prev i {
    color: #fff;
    font-size: 21px;
}

#section3 .regular .next {
    font-size: 0;
    line-height: 0;
    right: -5px;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 50px;
    z-index: 99;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #c7c7c7d7;

}

#section3 .regular .next i {
    color: #fff;
    font-size: 21px;
}

#section4 {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

#section4 .title {
    font-size: 16px;

    font-weight: bold;

    margin-bottom: 25px;
}

#section4 .seller {
    padding: 15px 0 15px 10px;
    background-color: #f5f5f5;
    border: 2px solid #fff;
    transition: 1s;
    width: 96%;
    margin: auto;
    border-radius: 5px;
}

#section4 .best_seller {
    padding-right: 10px;
}

#section4 .text {
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

#section4 .text p {
    font-size: 15px;
    color: #272727;
    font-weight: 500;

}

#section4 .text div {
    background-image: url(./image/badge.png);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 12px;


}

.best_seller .img {
    position: relative;
    background-repeat: no-repeat;
    height: 120px;
    background-size: cover;
}

.best_seller img {
    width: 100%;
    object-fit: cover;
}

.best_seller .bade {
    position: absolute;
    top: -8px;
    left: -2px;
    background-image: url(./image/badge2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.best_seller p {
    position: absolute;
    bottom: 0;
    background-color: #ffffffab;
    color: #000;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 14px;
    padding: 2px;
}

#section5 {
    margin-top: 50px;
}

#section5 .section5_title {
    font-size: 23px;

    font-weight: bold;

}

#section5 .advice {
    margin-top: 20px;
}

#section5 .adivice_title {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 5px;
    margin: 5px;
    transition: 1s;
    margin-bottom: 10px;
}

#section5 .adivice_title .img {
    height: 150px;
}

#section5 .adivice_title .img img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#section5 .adivice_title .btn {
    border: 1px solid #ffff
}

#section5 .adivice_title:hover>.add .btn {
    border: 1px solid #ffc107
}

#section5 .adivice_title:hover>.price {
    color: #ffc107
}

#section5 .adivice_title .name {
    font-size: 13px;


    font-weight: 300;
    margin-top: 10px;
}

#section5 .adivice_title .price {
    font-size: 16px;


    margin-top: 20px;
}

#section5 .adivice_title .price .discount {
    font-size: 14px;
    background-color: #ff0036;
    color: #fff;
    padding: 2px;
    border-radius: 2px;
    font-size: 14px;
    margin-left: 10px;
}

#section5 .adivice_title .wiew {
    font-size: 12px;
    color: #adadad;

    margin-top: 10px;
}

#section5 .more button {
    border: none;
    outline: none;
    padding: 15px 50px;
    border-radius: 25px;
    background-color: #fff;
    transition: 1s;

    font-weight: 600;
}

#section5 .more button:hover {
    background-color: #ffc107;
    color: #fff;
}
/* Footer Page Style ****************************************************/
.footer {
    margin-top: 30px;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 2px solid #e2e2e2;

}

.footer .footer_title {
    font-size: 15px;

    font-weight: bold;

    text-transform: uppercase;
}

.footer .footer_menu {
    margin-top: 20px;
}

.footer .footer_menu a {
    display: block;
    margin-top: 15px;
    font-size: 13px;
    opacity: 0.7;
    margin-top: 15px;
    text-transform: uppercase;
}

.footer .footer_social {
    margin-top: 20px;
}

.footer .footer_social a {
    display: block;
    margin-top: 15px;
    font-size: 15px;
    color: #585858;

}

.footer .footer_social a:hover {
    color: #61a4d3;
}

.footer .footer_menu a:hover {
    color: #585858;
}

.footer_bottom .menu a:hover {
    color: #585858;
}

.footer_bottom {
    padding: 15px 0 60px 0;
}

.footer_bottom .website,
.footer_bottom .website a {
    font-size: 14px;
    color: #585858;

}

.footer_bottom .website {
    margin-right: 10%;
}

.footer_bottom .menu a {
    font-size: 15px;


    margin: 0 15px;
    padding-right: 10px;
    /* position: relative; */
    border-right: 1px solid #000;

}

/* Footer Page Style ****************************************************/

/* Index Html  Style End ********************************************************/


/* Menu Html  Style  ********************************************************/
.menu-page .more button {
    border: 1px solid #4d4d4d;
    outline: none;
    padding: 15px 50px;
    border-radius: 5px;
    background-color: #fff;
    transition: 1s;

    font-weight: 600;
}

.menu-page .more button:hover {
    background-color: #ffc107;
    color: #fff;
    border: 1px solid #ffc107;
}
.menu-page {
    background-color: #f9f9f9;
    padding: 15px;
    margin-top: 25px;
}

.menu-link a {
    font-size: 12px;
    color: #a1a1a1;


}

.menu-page .menu-link {
    margin-bottom: 30px;
}

.categories h3 {
    font-size: 15px;
    color: #272727;
    font-weight: bold;

    text-transform: uppercase;
}

.menu-page .searchs {
    margin-top: 50px;
}

.menu-page .searchs h3 {
    font-size: 15px;
    color: #272727;
    font-weight: bold;

    text-transform: uppercase;
}

.menu-page .searchs .tags {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.menu-page .searchs .tags .tag-item {
    font-size: 13px;
    line-height: 10px;
    color: #878686;

    background-color: f4f4f4;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.category-menu .accordion-button::after {
    transform: rotate(90deg);
    position: absolute;
    left: 10px;
    background-image: url("./image/left.png");
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    background-size: 15px;
    transition: transform .2s ease-in-out;

}


.category-menu .accordion-button {
    padding: 10px 40px;


}

.category-menu .accordion-body {
    padding: 0px 40px;
}

.category-menu .accordion-button:not(.collapsed) {
    font-size: 16px;
    color: #585858;
    font-weight: bold;

    background-color: transparent;
    box-shadow: none;
    /* border: 1px solid #585858; */

}

.category-menu .accordion-button {
    font-size: 14px;
    color: #585858;
    font-weight: bold;

    background-color: transparent;
    box-shadow: none;
}

.category-menu .accordion-item {
    background-color: transparent;
    border: none;
}

.category-menu .accordion-button:focus {
    z-index: 3;
    border-color: #585858;
    outline: 0;
    box-shadow: none;
}

.category-menu .accordion-body ul li {
    font-size: 14px;
    line-height: 20px;
    color: #878686;

}

.product-detail {
    margin-bottom: 20px;
}

.product-img {
    border-radius: 5px;
}

.product-img img {
    object-fit: cover;
    height: 220px;
    width: 100%;
    border-radius: 10px;
}

.product-detail .text {
    margin: 5px 0;
}

.product-detail .text .discount {
    background-color: #ff0036;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.product-detail .text .brand {
    background-color: #f1f3f7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #4d4d4d;

}

.product-detail .price {
    font-size: 22px;
    line-height: 32px;


    margin-bottom: 5px;
}

.product-detail .information {
    font-size: 12px;


}

.filter-cat {
    justify-content: flex-end;
}

.filter-cat .money {
    margin-right: 15px;
    position: relative;
}

.money .choose {
    display: inline;
    background-color: #f2f3f7;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
    font-weight: 300;
    color: #000;

    position: relative;

}

.money .choose::after {
    content: "";
    background-image: url("./image/arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15px;
    position: absolute;
    right: 5px;
    top: 8px;
    width: 20px;
    height: 20px;
}

.money .choose span {
    color: #878686;
}

.submenu {
    position: relative;
    cursor: pointer;
}

.submenu-link {
    font-size: 14px !important;
    width: 100%;
    font-weight: 600;
    padding: 10px 0;
    margin: 0 !important;
    display: block;
}

.choose-submenu {

    position: absolute;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 15px;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 10%);
    box-shadow: 1px 5px 7px 2px #888888;
}

.choose-submenu2 {

    position: absolute;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 15px;
    z-index: 1;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 1px 5px 7px 2px #888888;
}
.choose-submenu2 a{
    font-size: 13px;
line-height: 36px;
color: #2c2c2c;
font-weight: bold;
display: block;
}
.choose-submenu2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.choose-submenu2 .title {
    justify-content: space-between;
    align-items: center;
}

.choose-submenu2 .title button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #939393;
}

.choose-submenu2 .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.choose-submenu2 .detail .real {
    text-decoration: line-through;
    opacity: 0.7;
}


.choose-submenu::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.choose-submenu .input {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.choose-submenu .input label {
    font-size: 14px;
    color: #5b5b5b;

    margin-right: 10px;
}

.choose-submenu .input input {
    font-size: 14px;
    color: #5b5b5b;
    border: 1px solid #dee2e6;

    border-radius: 5px;
    padding: 5px;
    outline: none;
}
.menu-page .form-check-input:checked {
    background-color: #ff7676;
    border-color: #ff7676;
    border-radius: 0;
}
.basket-page .form-check-input:checked {
    background-color: #ff7676;
    border-color: #ff7676;
    border-radius: 0;
}

.choose-submenu button {
    width: 100%;
    background-color: #9b9b9b;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
/* Menu page Style End ************************************************** */


/* Detail-pga Style ***************************************************** */
.detail-page .item img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  .detail-page .slider-for .item img:hover {
    transform: scale(2);
    cursor: zoom-out;
  }
  

.detail-page {
    background-color: #FFF;
    padding: 15px;
}

.detail-page .menu-link a {
    font-size: 12px;
    color: #a1a1a1;


}

.detail-page .menu-link {
    margin-bottom: 30px;
}

.slider-detail .slider-for img {
    max-height: 500px;
}

.slider-detail .slider-nav img {
    width: 100%;
}

.slider-detail .slider-nav .slick-current {
    border: 2px solid #a11616;
}

.slider-detail {
    padding: 15px;
}

.slider-detail .slick-track {
    padding-top: 20px;
    margin-left: 0 !important;

}

.slider-detail-text {
    padding: 15px;
}

.slider-detail-text h3 {
    font-size: 17px;
    color: #272727;
    font-weight: bold;

}

.slider-detail-text .endirim {
    background-color: #08a3e0;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    border-top: 5px solid #0074a3;
}

.slider-detail-text .endirim .time {
    background-color: #4ac4f4;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px 5px 5px;
    border-radius: 2px;
}

.slider-detail-text .endirim .faiz {

    display: flex;
    justify-content: space-between;
    padding: 10px 40px 5px 0px;
    font-size: 24px;

}

.slider-detail-text .qiymet {
    font-size: 31px;
    line-height: 32px;


    margin-top: 10px;
}

.slider-detail-text .delivery {
    font-size: 18px;
    color: #272727;

    margin-top: 15px;
}

.slider-detail-text .olke {
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
}

.slider-detail-text .color {
    display: flex;
    margin-top: 10px;
}

.slider-detail-text .color .color-item {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
}

.slider-detail-text .color .color-item.active {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #ff4747;
}

.slider-detail-text .size {
    display: flex;
    margin-top: 10px;
}

.slider-detail-text .size .size-item {
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #e1e1e1;
}

.slider-detail-text .size .size-item.active {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #fff;
    border: 2px solid #ff4747;
}

.slider-detail-text .miqdar {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.slider-detail-text .miqdar .button button {
    border: none;
    background-color: #f2f2f2;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 16px;
    color: #878686;
}

.slider-detail-text .input input {
    width: 30px;
    border: none;
    text-align: center;
    outline: none;
}

.slider-detail-text .miqdar p {
    font-size: 14px;
    color: #a5a5a5;

    margin-left: 15px;
}

.slider-detail-text .note {
    font-size: 12px;
    margin-top: 20PX;
    color: #272727;

}

.slider-detail-text .buynow {
    border: none;
    color: #fff;
    font-size: 20px;
    background-color: #ff4747;
    outline: none;
    padding: 15px 30px;
    margin-right: 10px;
    border-radius: 5px;
}

.slider-detail-text .addbasket {
    border: none;
    color: #fff;
    font-size: 20px;
    background-color: #ff9a00;
    outline: none;
    padding: 15px 30px;
    border-radius: 5px;
}

.topsale_title {
    font-size: 18px;
    color: #131212c9;

    font-weight: bold;
}

.topsale-item {
    max-width: 200px;
    margin: 20px auto;
}

.topsale-item img {
    object-fit: cover;
}

.topsale-item .text {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topsale-item .text b {
    font-size: 20px;
}

.topsale-item .text span {
    opacity: 0.7;
    font-size: 14px;
}

.detail-page-bottom {
    margin-top: 30px;
}

.detail-page-bottom .categories {
    background-color: #fff;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.detail-page-bottom .tabs {
    background-color: #fff;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 5px;

}

.detail-page-bottom .tabs .nav-link {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #585858;
    margin-right: 15px;

    text-transform: uppercase;
}

.detail-page-bottom .tabs .nav-link.active {
    color: #272727;
    border-bottom: 4px solid;
    padding-bottom: 11px !important;
    font-weight: bold;

}


.basket-menu:hover>.choose-submenu2 {
    display: block !important;
    transition-delay: 1s;
}


/* profil page */
.profil-page .promo {
    background-color: #745cc0;
    border-radius: 10px;
    height: 200px;
    margin-top: 20px;
}

.profil-page .menu-link a {
    font-size: 12px;
    color: #a1a1a1;


}

.profil-page .menu-link {
    margin-bottom: 30px;
}

.right-tab-panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 0;
}

.right-tab-panel .nav-item a {
    font-size: 14px;
    color: #5b5b5b;
    padding-left: 15px;
    line-height: 40px;
    opacity: 0.8;

}

.right-tab-panel .nav-item .active {
    color: #ff7f01;
    border-left: 2px solid #ff7f01;
}

.profil-page .product {
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #ffff;
    margin-bottom: 20px;
}

.profil-page .product .product-detail .image img {
    height: 120px;
    object-fit: cover;
}

.profil-page .product .product-detail .detail {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profil-page .product .product-detail .detail .name {
    font-size: 14px;
    color: #5a5a5a;
    line-height: 20px;

}

.profil-page .product .product-detail .detail .date p {
    font-size: 12px;
    color: #959595;

    line-height: 20px;
}

.profil-page .product .product-detail .detail .date b {
    font-size: 16px;
    color: #000;

    line-height: 20px;
}

.profil-page .product .status {
    text-align: end;
}

.profil-page .product .status ._status {
    background-color: #eff1f1;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #959595;

    line-height: 20px;
    padding: 5px 15px;

}

.profil-page .product .status .price {
    font-size: 24px;
    line-height: 32px;
    color: #5b5b5b;

    margin: 25px auto;
}

.change-password-title {
    font-size: 21px;
    line-height: 32px;
    color: #606060;

    text-align: center;
}

.change-password .close {
    display: inline;
    background-color: transparent;
    border: none;
    height: 30px;
}

.change-password .close span {
    color: #2d2f43;
    font-size: 30px;
}

.change-password .send {
    background-color: #2d2f43;
    border: none;
    display: block;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;

}

.change-password .button {
    border: none;
    display: block;
    border-radius: 5px;
    color: #fff;
    width: 80%;
    margin: 15px auto;
    padding: 10px;

}

.change-password ._fb {
    background-color: #1877f2;
}

.change-password ._google {
    background-color: #dc4e41;
}

.change-password ._signup {
    background-color: #2d2f43;
}

.change-password ._signin {
    background-color: #f2f3f7;
    color: #2d2f43;
}

.change-password .condition {
    width: 80%;
    margin: auto;
    font-size: 12px;
    color: #858585;

    text-align: center;
}

.change-password .condition a {
    color: #ff0036;
}

.change-password .form-floating>label {
    position: absolute;
    top: 0px;
    left: 16px !important;
    z-index: 99;
    opacity: 1 !important;
    padding: 0;
    height: auto;
    color: #bcb5b5;
    background-color: #fff;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem) !important;
}

.change-password .form-floating input {
    border: 1px solid #e0dddd;
    margin: 50px auto;
    border-radius: 10px;
    height: 50px
}

.change-password .form-floating textarea {
    border: 1px solid #e0dddd;
    margin: 50px auto;
    border-radius: 10px;
    height: 50px
}

.change-password .form-floating select {
    border: 1px solid #e0dddd;
    margin: 50px auto;
    border-radius: 10px;
    height: 50px
}

.change-password .error input {
    border: 1px solid #dc4e41;
}

.change-password .error>label {
    color: #dc4e41;
}

.change-password .form-control:focus {
    border: 1px solid #e0dddd !important;
}

.change-password .form-select:focus {
    border: 1px solid #e0dddd !important;
}

.change-password .form-floating>.form-control:focus~label {
    position: absolute;
    top: 0px;
    left: 16px !important;
    z-index: 99;
    opacity: 1;
    background-color: #fff;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem) !important;
}

.change-password .form-floating>.form-select:focus~label {
    position: absolute;
    top: 0px;
    left: 16px !important;
    z-index: 99;
    opacity: 1;
    background-color: #fff;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem) !important;
}

.change-password .other {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.change-password .other span {
    width: 30%;
    font-size: 14px;
    color: #858585;

    text-align: center;
}

.change-password .other hr {
    width: 30%;
}

.change-password .social {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.change-password .social .fb {
    background-color: #1877f2;
    border-radius: 50%;
    padding: 15px;
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}

.change-password .social .google {
    background-color: #dc4e41;
    border-radius: 50%;
    padding: 15px;
    color: #fff;
    font-size: 20px;
}

.products-menu {
    width: 350px;
}

/* Basket Page */
.basket-page .menu-link {
    margin-top: 30px;
}
.basket-page .menu-link a {
    font-size: 12px;
    color: #a1a1a1;
}
.basket-page-title {
    font-size: 24px;
    color: #272727;

}

.my-basket {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}

.my-basket .form-check-input:checked {
    background-color: #ff8a01;
    border-color: #ff8a01;
    outline: none;
    border-radius: 0;
}

.basket-page .form-check-input:focus {
    box-shadow: none;
}

.my-basket .delete button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ff8a01;
}

.basket-page .total {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 15px;
}

.basket-page .total button {
    border-radius: 5px;
    background-color: #ff8a01;
    border: none;
    outline: none;
    color: #fff;
    padding: 15px;
    font-size: 22px;
    margin: 30px auto;
    width: 100%;

}

.basket-page .condition {
    font-size: 12px;
    color: #858585;

    text-align: center;
}

.basket-page .condition a {
    color: #ff4747;
}

.basket-page .product {
    justify-content: space-between;
}

.basket-page .product-all {
    background-color: #fff;
    margin-top: 15px;
    padding: 30px 15px;
    border-radius: 5px;
}

.basket-page .product-all .product-detail .detail {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basket-page .product-all .product-detail .detail .name {
    font-size: 14px;
    color: #5a5a5a;

}

.basket-page .product-all .old_price {
    text-decoration: line-through;
    color: #909090;

    text-align: right;
    line-height: 32px;
}

.basket-page .product-all .price {
    font-size: 30px;
    color: #909090;

    text-align: right;
}

.basket-page .product-all .special {
    font-size: 14px;
    color: #ff8a01;

    text-align: right;
    margin-top: 20px;
}

.basket-page .product-all .product-detail .detail .input .dec,
.basket-page .product-all .product-detail .detail .input .inc {
    border: none;
    background-color: #f2f2f2;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 16px;
    color: #878686;
}

.basket-page .product-all .product-detail .detail .trash {
    background-color: transparent;
    border: none;
    color: #878686;
    padding: 5px 10px;
    font-size: 16px;

}

.basket-page .product-all .date {
    font-size: 12px;
    color: #959595;

}

.basket-page .product-all .product-detail .input {
    margin-top: 10px;
}

.basket-page .product-all .product-detail .input input {
    width: 30px;
    border: none;
    text-align: center;
    outline: none;
}

.trash-menu {

    position: absolute;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 15px;
    z-index: 1;
    width: 250px;
    left: 50%;
    transform: translate(-50%, 10%);
    box-shadow: 1px 5px 7px 2px #888888;


}

.trash_ {
    position: relative;
}

.trash-menu::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.button-bg {
    background-color: #ff8a01;
    border-radius: 5px;
    color: #fff;
    padding: 5px 40px;
    border: none;
}

.trash-menu .button-border {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #a5a4a4;
    padding: 5px 40px;
    color: #606060;
}

.pay p {
    font-size: 12px;
    color: #606060;

}

.social-pay .fb {
    background-color: #1877f2;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
}

.social-pay .google {
    background-color: #dc4e41;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    color: #fff;
    font-size: 14px;
}

.social-pay .gmail {
    background-color: #2d2f43;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    color: #fff;
    font-size: 14px;
}

.checkout .text-solid {
    font-size: 13px;
    color: #696969;

}

.checkout .text-dark {
    font-size: 15px;
    color: #696969;
    font-weight: bold;

}

.checkout-detail {
    padding: 20px 15px;
    border-radius: 10px;
    background-color: #ffff;
    margin-bottom: 20px;
}

.checkout-detail .packet {
    background-color: #fff1f1;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    display: inline-block;
    margin-bottom: 40px;
}
.checkout-detail .packet h5{
    font-size: 14px;
    color: #ff0000;
    font-weight: bold;
}
.checkout-detail .packet p{
    font-size: 12px;
}
.checkout-detail .method-item {
    border-radius: 10px;
    opacity: 0.6;
    padding: 15px;
    text-align: center;
    display: inline-block;
    margin-bottom: 40px;
}

.checkout-detail .method-item.active {
    background-color: #fff1f1;
    opacity: 1;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    display: inline-block;
    margin-bottom: 40px;
}

.checkout-detail .method-item.active h5 {
    font-size: 16px;
    color: #ff0000;
    font-weight: 600;

}

.checkout-detail .delivery-location h5 {
    font-size: 14px;
    color: #535353;
    font-weight: bold;

    line-height: 20px;
}

.checkout-detail .delivery-location p {
    font-size: 12px;
    color: #959595;

    line-height: 20px;
}

.checkout-detail .delivery-location button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #f30000;
    font-weight: bold;

    margin-top: 20px;
    padding: 0;
    display: flex;
    align-items: center;
}

.pay-location p {
    font-size: 13px;

    line-height: 32px;
    color: #696969;
    font-weight: bold;

}

.pay-location button {
    background-color: #eff1f1;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    font-size: 16px;
    color: #4a4a4a;

}

.pay-location table td p {
    font-size: 12px;
    color: #959595;

    line-height: 40px;
}

.success_title {
    font-size: 22px;
    color: #535353;
    font-weight: bold;

}

.custom-file-input {
    color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Fayl yukle ';
    color: black;
    display: inline-block;
    background: #eff1f1;
    border: none;
    border-radius: 5px;
    padding: 1rem !important;
    width: 100%;
    text-align: center;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active {
    outline: 0;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}